
#select2-countries-results img {
    border-radius: 0.4rem;
}

body {
    background-color: #f5f5f5;
    font-size: .875rem;
}

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}
  
/*
* Sidebar
*/

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}
  
/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }

.select2 {
    max-width: 100%;
    width: 100%;
}

.select2-results {
    margin: 0 10px 10px 10px;
}

.select2-container .select2-selection--single, .select2-selection--multiple {
    height: auto;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #dee2e6;
}

.select2-container--open {
    z-index: 9999;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #fff;
    background-color: #0DCAF0;
    margin: 1px;
    font-size: medium;
}